# Examle of the .env file needed for Docker Compose build
# Copy this file to .env and adjust the values accordingly.

# Database configuration
DB_NAME=name
DB_USER=user
DB_PASSWORD=password
DB_PORT=port
DB_HOST=host

# Configuration
SERVICE_TOKEN=token  # VK API service token
